h1{
    text-align: center;
}
 
ul{
    text-align: center;
    list-style-type: none;
}

ul li {
    padding: 5px;
}

ul li a{
    color: black ;
    background-color: lightblue;
    border: 1px black solid;
    padding: 3px;
}

